<!DOCTYPE html>
<html>
<head>
    <title>Sales Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Plotly.js CSS -->
    <link rel="stylesheet" href="https://cdn.plot.ly/plotly-latest.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Sales Dashboard</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="graph1"></div>
            </div>
            <div class="col-md-6">
                <div id="graph2"></div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script>
        // 데이터 전달받기
        var graphs = {{ graphs | tojson }};
        var layout = {{ layout | safe }};

        // 그래프 출력하기
        Plotly.newPlot('graph1', [graphs[0]], layout);
        Plotly.newPlot('graph2', [graphs[1]], layout);
    </script>
</body>
</html>