<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>의류 검색</title>
    <style>
      body {background-image : url('static/ulpoad/back.png')}
    </style>
  </head>
  <body>
    <h1>의류 검색</h1>
    <form action="/" method="POST">
      <label>성별 : ex 남,여</label>
      <input type="text" name="gender"><br><br>
      <label>카테고리 : ex 상의,하의,아우터,가방,신발</label>
      <input type="text" name="category"><br><br>
      <label>키워드 : ex 데님,검정</label>
      <input type="text" name="keyword"><br><br>
      <input type="submit" value="추천받기">
    </form>
  </body>
</html>